/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

/* .row {
    height: 500px;
    border:3px solid blue;
} 

 .row > div {
    min-height: 50%;
    border: 3px solid red;
 } */

/* # Navbar */

nav img {
    max-width: 100px;
}